body{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
form{
    height: 50vh;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}
form input, form button{
}
form input{
    padding: 20px;
    font-size: 1rem;
    /*border: 1px solid black;*/
    border-radius: 6px;
}
div.buttons{
    align-items: end;
}
.fa-circle{
    font-size: xx-small;
}
#green-circle{
    color: #52C41A;
}
#red-circle{
    color: #FF4D4F;
}
#grey-circle{
    color: #E0E0E0;
}
div.reader{
    display: table-cell; text-align: right
}
div.buttons{
    display: table-cell; text-align: right;
    margin: 10px
}
div.flex-gap{
    height: 30px;
}
div.flex-gap-width{
    min-width: 10px;
}
button{
    margin: 10px;
}