.fa-circle{
    font-size: xx-small;
}
#green-circle{
    color: #52C41A;
}
#red-circle{
    color: #FF4D4F;
}
#grey-circle{
    color: #E0E0E0;
}
body{
    font-family: 'Roboto', sans-serif;
}
table{
}
th {
    background: #FAFAFA;
}
th, td {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

}
th {
    text-align: left;
}
.clickable-row{
    cursor: pointer
}
button.btn-icon{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}